.features {
    background: url('/img/backBanner.png') no-repeat center center fixed;
    background-size: cover;
    padding: 80px 0;
}

.features h3,
.features p {
    margin-bottom: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.features h3 {
    font-size: 30px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;

}

.features .info .block img {
    margin-bottom: 15px;
}

